
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=New+Tegomin&display=swap" rel="stylesheet">
</head>
<body>

	<div class="welcome">
        <h3>Text-to-Speech</h3>
        <br>
	</div> 

    <div class="output">
        <h2>Speaking:</h2>
        <br><br>
                           
            <div class="input" style="padding-left: 30px; padding-right: 30px; ">
                <img src="https://www.englishclub.com/images/speaking/speaking-comp.png"
                alt=""/>
                </br>
            
                <audio controls >
                    <source src="voice.mp3" type="audio/mpeg">
                  </audio>
                 <br>
                <button class=button style="width: 90px;" >Back</button></a></p>
            </div>
        
        </div>

</body>
</html>
